# RewriteEngine On
AddType application/x-httpd-php .htm .html
# RewriteRule "admin/pages/quantri" "admin/pages/quantri.php"
# RewriteCond %{REQUEST_FILENAME}% !-d
# RewriteCond %{REQUEST_FILENAME}% !-d
# RewriteCond %{REQUEST_FILENAME}% !-d
# RewriteRule ^(/+)$ index.php [QSA,L]

# RewriteRule ^(([^/]+/)*[^.]+)$ /$1.php [L]
<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
